@import "./colors.scss";
.inputtextbox {
  background-color: $IMPORTANT_BACKGROUND_COLOR;
  border-color: rgba(0, 0, 0, 0);
  color: $FONT_COLOR;
  padding-left: 3px;
  padding-right: 3px;
  width: 100%;
  transition: 0.2s;
}

.inputtextbox:focus {
  outline: 2px solid $PRIMARY_COLOR;
}

.inputtextbox:disabled {
  opacity: 0.3;
}
